<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
    <title>Landing Page</title>
</head>
<body>
    <div id="outerbox">
        <h1>Welcome to MovieMate!</h1>
        <button id="toLogin"> log into your account here </button>
        <button id="toReg"> dont have an account, register here! </button>
    </div>
    <script>
        document.getElementById("toLogin").addEventListener("click", function(){
            window.location.href = "/login";
        });

        document.getElementById("toReg").addEventListener("click", function(){
            window.location.href = "/register";
        });
    </script>
</body>
</html>