{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block h1 %}Register an Account{% endblock %}

{% block form_action %}/register{% endblock %}

{% block content %} <input id="register" type="submit" value="Register"> {% endblock %}

{% block button %}
    <button id="sendToLogin">Back to Login</button>

    <script>
        document.getElementById("sendToLogin").addEventListener("click", function(){
            window.location.href = "/login"
        });
    </script>
{% endblock %}


